<style type='text/css'>
    nav{
        background: transparent;
        height: auto;
        width: auto;
        position: relative;
        bottom: 100px;
    
    }
    
    nav ul {
        float: right;
        margin-right: 20px;
    }
    
    nav ul li {
        display: inline-block;
        line-height: 80px;
        margin: 0 5px;
    }
    
    nav ul li a {
        font-size: 17px;
        text-transform: uppercase;
        padding: 7px 13px;
        border-radius: 3px;
    }
    
    </style>
    
    <div style="background-color: grey; height: 100px; padding: 30px;">
            <h1 style="color: white; text-align: left;"><a href="/home"><button  class="btn btn-primary">Ke rumah?</button></a></h1>
        <nav>
    
            <ul>
                <li><a href="/logout"><button class="btn btn-primary">Mau keluar?</button></a></li>
            </ul>
        </nav>
    </div>
    
    <div style="clear:both"></div>
    